/*====================터닝 포인트====================*/

$break-mobile: '390px';
$break-semiscreen: '905px'; // 이거는 br을 없애기 위한 용도입니다. 사용 시 조장에 허락을 맡으시길
$break-pc: '1400px';

/*====================폰트====================*/

$common_font: 'IBMPlexSansKR-Regular';
$common_light: 'IBMPlexSansKR-Light';
$highlight: 'Yeongdo-Rg';

/*====================마진====================*/

$big_margin_m: 50px;
$big_margin_s: 60px;
$big_margin_p: 70px;

$mid_margin_m: 30px;
$mid_margin_s: 35px;
$mid_margin_p: 40px;

$small_margin_m: 15px;
$small_margin_s: 18px;
$small_margin_p: 20px;

/*====================폰트 사이즈====================*/

$obaka: 14px;
